#game{
	width: 1000px;
	height:1000px;
}
#dino{
	
	position: absolute;
	animation:dino 2s infinite;
}
@keyframes dino {
	0%{
		bottom: 100px;
	}
	30%{
		bottom: 600px;
	}
	70%{
		bottom: 200px;
	}
	100%{
		bottom: 600px;
	}
	0% {
		left: 100px;
	}
	100% {
		left:900px;
	}
}
#block{
	width: 80px;
	height: 80px;
	bottom:200px;
	background-color: plum;
	position: absolute;
	animation: block 3s linear infinite;
	/* animation: block 1s linear infinite; */
}
@keyframes block {
	0% {
		left: 100px;
	}
	100% {
		left:500px;
	}
	0%{
		bottom: 100px;
	}
	30%{
		bottom: 600px;
	}
}